<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Makers Backup You!</title>


<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
<link rel="manifest" href="/media/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script  src="https://unpkg.com/jquery@3.4.0/dist/jquery.js"></script>
    <script  src="https://unpkg.com/intercooler@1.2.2/dist/intercooler.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17028617-24"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-17028617-24');
</script>


    <style type="text/css" media="screen">

html, body {
    background-image: linear-gradient(141deg,#009e6c 0,#00d1b2 71%,#00e7eb 100%);


}        
html,body, .hero,.hero-body {
     min-height: 10vh;
         height: 100vh;

  }

.hero-body {
  padding-top:7rem !important;
}
    </style>

  </head>
  <body>
            {% block content %}
            {% endblock content %}

    </section>
  </body>
</html>

