{% if percent > 0 and status and  status != "finished" %}

<div>
    <progress class="progress" {% if percent > 0 %} value="{{percent|floatformat:0}}" {% endif %} max="100">
    {{percent|floatformat:0}} %
    </progress>
    {{percent|floatformat:0}} %
</div>
   {% if status != "started" %}
   {{status}}
   {% endif %} 
{{url}}  <i id="demo-spinner" class="fa fa-spinner fa-spin" ></i>    
{% endif %}

{% if votes %}

<div>
    <p>
        {{url}}
    </p>

    {{votes.result|length}} out of {{votes.total}} upvoters are from Makerlog.
</div>

<div>
    
    {% for v in votes.result %}
         <img src="{{v.image}}" alt="">

    <!--<div>-->
        <!--@{{v.username}} {{v.name}} <img src="{{v.image}}" alt="">-->
    <!--</div>-->
    {% endfor %}

</div>


{% endif %}

{% if status != "finished" %}


<div class="is-size-7 has-text-grey-lighter	">

    {% for q in stat.queues  %}
     <i title="queue" class="far fa-clock"></i> {{q.jobs}}  <i title="active" class="fas fa-users"></i> {{q.started_jobs}} <i title="workers" class="fas fa-cog"></i> {{q.workers}}
    {% endfor %}

</div>
{% endif %}
